# Nuvoton Cortex-M4 Embedded Controller

# Copyright (c) 2023 Nuvoton Technology Corporation.
# SPDX-License-Identifier: Apache-2.0

config LNV_SYSTEM_NPCX
	bool "Nuvoton NPCX Lenovo system driver"
	depends on SOC_FAMILY_NPCX
	default y
	help
	  This option enables the Lenovo system driver for the NPCX family of
	  processors. Currently, Zephyr doesn't provide the system related API.
	  The Lenovo system driver provides the low-level driver related to
	  chromium ec system functionality.


config LNV_SYSTEM_NPCX_INIT_PRIORITY
	int "lnv_system npcx initialization priority"
	default 10
	range 10 19
	help
	  This sets the npcx lnv_system driver initialization priority. The
	  lnv_system driver provides access to the NPCX reset cause and must be
	  higher priority than CONFIG_SYSTEM_PRE_INIT_PRIORITY.
